$font-family_1: Arial;

$color1: #111111;

$font-style_1: normal;

$font-weight_1: bold;
$font-weight_2: normal;

$XS:16px;
$S:19px;
$M:20px;
$L:23px;


$letter-spacing_1: 0.04em;
$letter-spacing_2: 0.05em;



$opacidad_0: 1;
$opacidad_1: 0.4;
$opacidad_2: 0.6;
$opacidad_3: 0.8;