.modalContenedorCerrar{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ocultarModalCerrar{
    visibility: hidden;
    opacity: 0;
}
.modalCerrar{
    background-color: white;
    width: 469px;
    height: 204px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    &-imgX{
        position: absolute;
        top: 7px;
        right: 7px;
        height: 17px;
        width: 17px;
        cursor: pointer;
    }
    &-seccionBotones{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    &-btn{
        width: 129px;
        height: 41px;
        background-color: #C4C4C4;
        cursor: pointer;
        border: none;
        margin: 0 18px 0 18px;
        &--Cancelar{
            text-align: center;
        }
        &--Aceptars{
            text-align: center;
        }
    }
}




.modalCerrar-titulo{
    font-size: 26px;
    font-weight: bold;
}
